{% extends "layouts/main.html" %}

{% set pageName="Home Office style guide coverage" %}

{% block content %}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <h1 class="govuk-heading-l">
    Home Office style guide coverage 
  </h1>

  <p class="govuk-body">This is a list of Home Office style guide entries that the style checker does <strong>not</strong> check for.</p>
  <p class="govuk-body">If a term does not appear here, then it is included in the style checker rules.</p>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Home Office content style guide
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link" href="https://design.homeoffice.gov.uk/content-style-guide">Link to style guide<span class="govuk-visually-hidden"> (Home Office Design System)</span></a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            British nationality
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--red">
                Not included
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            Entry is more around guidance than prescribing a style point
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            British national (overseas)
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--yellow">
                Exploring
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            Needed to distinguish between usage of the visa term and the national, from context
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Deportation
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--red">
                Not included
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            Entry is more around guidance than prescribing a style point
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Finger scan
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--yellow">
                Seeking guidance
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            -
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--red">
                Not included
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            More of a guidance entry, than a style one
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ministers
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--grey">
                On hold
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            Withdrawn until GDS style guide rules
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Naturalisation
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--red">
                Not included
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            More of a guidance entry, than a style one
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Passport control
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--yellow">
                Seeking guidance
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            -
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Quotes and speech marks
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--grey">
                On hold
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            Withdrawn until GDS style guide
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Refugee
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--yellow">
                Exploring
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            -
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sex
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-task-list__status" id="HODS-style-guide-status">
              <strong class="govuk-tag govuk-tag--red">
                Not included
              </strong>
            </div>
          </dd>
          <dd class="govuk-summary-list__value">
            More a guidance entry than a style one
          </dd>
        </div>
      </dl>
    </div>
  </div>
  </div>


</div>

{% endblock %}
