{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" id="header">We can't check your text</h1>

    <p class="govuk-body">
      You must enter at least 1 full sentence that includes punctuation.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <a href="check-text.html#user-text" class="govuk-button">Back to your text</a>
  
  </div>
 
</div>

{% endblock %}
